body{
    font-size: small;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    line-height: 1.6em;
    /*line-height 行距,原字体大小的1.6倍*/
}
h1,h2{
    color: #007e7e;
}
h1{
    font-size: 150%;
}
h2{
    font-size: 130%;
}
#guarantee{
    border-color: black;
    border-width: thin;
    border-style: dashed;
    border-color: white;
    background-color: #a7cece;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    line-height: 1.9em;
    font-style: oblique;
    color: #444444;
    font-family: Georgia,"Times New Roman",serif;
    background-image: url(images/background.gif);
    background-position: top left;
    background-repeat: no-repeat;
    
}
#elixirs{
    line-height: 1;
    
    border-bottom-width: thin;
    border-style: solid;
    border-color: #007e7e;
    width: 200px;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
    margin-left: 20px;
    
    text-align: center;
    
    background-image: url(images/cocktail.gif);
    background-repeat: repeat-x;
    
    float: right;
}
/*id的子孙选择器*/
#elixirs h2{
    color: black;
}
#elixirs h3{
    color: #d12c47;
}
#copyright{
    font-size: 50%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
}
.cd{
    font-style: italic;
}
.artist{
    font-weight: bold;
}

/*a标签的伪类*/
a:link{
    color: #007e7e;
}
a:visited{
    color: #333333;
}
#elixirs a:link{
    color: #007e7e;
}
#elixirs a:visited{
    color: #333333;
}
#elixirs a:hover{
    background: #f88396;
    color: #0d5353;
}
